body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    margin: 0;
}

form {
    margin-top: 1rem;
}

.container {
    display: flex;
    width: 800px;
    padding: 20px;
    border: 1px solid;
    margin-bottom: 20px;
}

.form-section, .data-section {
    flex: 1;
    padding: 10px;
}

.data-section {
    margin-left: 40px;
}

form input {
    margin: 4px 0 10px 0;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.container2 {
    width: 800px;
    text-align: center;
}

#colorPicker {
    width: 315px;
    height: 35px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s;
}
